rupture.scale = 0 640px 970px 1280px 1600px 1920px
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl' 'ml'
rupture.anti-overlap = -1px
$scale-names = rupture.scale-names

$ptr = 'PT Rouble Sans', sans-serif

$imgHref = '../images/'
$imgPath = '../assets/images/'

$horizontalPadding = 15px 20px 30px n 40px