.base-button
	text-decoration: none;
	background: transparent;
	color: #fff;
	border-radius: 15px 0 15px 0;
	padding: 10px 50px;
	border: 1px solid #fff;
	margin-left: 5px;
	
	&:hover
		color: #000;
		background-color: #FFF;