html
    height 100%
    min-width 320px
    position relative
    &.scroll-locked
        overflow hidden
        body
            overflow hidden
body
    height 100%
    set('font-size', 14px n 16px n 18px)
    line-height 20px
    color black
    min-width 320px
    position relative
    +above(md)
        line-height 25px
    +above(xl)
        line-height 30px
.body
    overflow hidden
    display flex
    position relative
    flex-direction column
    justify-content space-between
    min-height 100%
    &__content
        flex 1 1 auto
        position relative
    .footer, .header
        flex 0 0 auto
.container
    set('padding-x', $horizontalPadding)
    margin 0 auto
    position relative

p, ul, ol, table
    margin 0
    padding 0
    margin-y 15px
    +above(lg)
        margin-y 20px
    +above(xl)
        margin-y 25px
li
    margin 0
    margin-y 5px
    +above(md)
        margin-y 15px
ul
    list-style none
a
    text-decoration none
    display inline
    color #1da1f2
    border-bottom 1px solid #1da1f2
    &:hover, &:focus
        color #EE5757
        border none
        text-decoration none
.a
    aReset()

h1
    color black
    position relative
    z-index 100

.rouble
    font-family $ptr
.hidden
    display none !important
.img
    display block
    max-width 100%
    width auto!important

input[type='text'],input[type='email'],input[type='password']
    height 38px
    padding-x 10px
    display block
    border 1px solid black
    background-color white
    color inherit
    +above(sm)
        height 43px
        padding-x 15px
textarea
    padding 10px
    border 1px solid black
    color inherit
    background-color white
    line-height 1.5

.table
    overflow auto
    margin-y 15px
    +above(lg)
        margin-y 20px
    +above(xl)
        margin-y 25px
    &>table
        width 100%
        margin 0
    &__active
        background-color #dddddd
table
    border-collapse collapse

.touchevents
    .link, .overlay
        cursor pointer!important// iOS click event fix