.radio
    input
        display none
        &:checked~.radio__label::before
            //sprite $radiobutton_checked
    &__label
        display inline-block
        &::before
            content ''
            display inline-block
            //sprite $radiobutton
            margin-right 10px
            vertical-align middle
            position relative
            top -2px