.search-form
    border 1px solid black
    background-color white
    display flex
    justify-content space-between
    height 40px
    &__input
        flex 1 1 auto
        position relative
        input
            height auto
            border none
            padding-left 15px
            position absolute
            top 50%
            transform translateY(-50%)
    &__submit
        flex 0 0 auto
        position relative
        width 48px
        cursor pointer
        &::before
            content ''
            display block
            position absolute
            pos 0 n 0 0
            width 1px
            background-color white
            opacity 0.18
        &::after
            content ''
            sprite-scale $search ($search_width / 2)
            position absolute
            display block
            z-index 0
            top 50%
            left 50%
            margin-left -($search_width / 4)
            margin-top -($search_height / 4)
        button
            position absolute
            pos 0 0 0 0
            z-index 10
            cursor pointer