.spinner
    display flex
    align-items center
    &__input
        flex 1 1 auto
        input
            text-align center
            padding-x 5px
    &__buttons
        flex 0 0 auto
        width 20px
        display flex
        flex-direction column
        justify-content space-around
        align-items center
        position relative
    &__button
        arrow 1px black 10px 5px 'top' 5px 5px
        position relative
        cursor pointer
        &_minus
            transform rotate(180deg)
            margin-top 5px