
    $svgicon-arrow_width = 1.40625
    $svgicon-arrow_height = 0.25

    $svgicon-big-lens_width = 1.46875
    $svgicon-big-lens_height = 1.46875

    $svgicon-down-arrow_width = 0.5
    $svgicon-down-arrow_height = 4.3125

    $svgicon-facebook_width = 12.774625
    $svgicon-facebook_height = 12.774625

    $svgicon-hotel_width = 2.65625
    $svgicon-hotel_height = 2.65625

    $svgicon-instagram_width = 17.2198125
    $svgicon-instagram_height = 17.2198125

    $svgicon-lens_width = 0.75
    $svgicon-lens_height = 0.75

    $svgicon-mobile_width = 1.90625
    $svgicon-mobile_height = 2.96875

    $svgicon-vk_width = 16
    $svgicon-vk_height = 16

    $svgicon-youtube_width = 14.40628125
    $svgicon-youtube_height = 14.40628125
