
   .icon.icon-arrow {
         width: 1.40625em;
         height: 0.25em;
     }

   .icon.icon-big-lens {
         width: 1.46875em;
         height: 1.46875em;
     }

   .icon.icon-down-arrow {
         width: 0.5em;
         height: 4.3125em;
     }

   .icon.icon-facebook {
         width: 12.774625em;
         height: 12.774625em;
     }

   .icon.icon-hotel {
         width: 2.65625em;
         height: 2.65625em;
     }

   .icon.icon-instagram {
         width: 17.2198125em;
         height: 17.2198125em;
     }

   .icon.icon-lens {
         width: 0.75em;
         height: 0.75em;
     }

   .icon.icon-mobile {
         width: 1.90625em;
         height: 2.96875em;
     }

   .icon.icon-share {
         width: 15.41875em;
         height: 13.865625em;
     }

   .icon.icon-vk {
         width: 16em;
         height: 16em;
     }

   .icon.icon-youtube {
         width: 14.40628125em;
         height: 14.40628125em;
     }
