
    $svgicon-F_width = 2.8125
    $svgicon-F_height = 2.8125

    $svgicon-I_width = 5.28321875
    $svgicon-I_height = 5.28321875

    $svgicon-T_width = 16
    $svgicon-T_height = 16

    $svgicon-W_width = 2.8125
    $svgicon-W_height = 2.8125

    $svgicon-arrow_width = 1.40625
    $svgicon-arrow_height = 0.25

    $svgicon-big-lens_width = 1.46875
    $svgicon-big-lens_height = 1.46875

    $svgicon-down-arrow_width = 0.5
    $svgicon-down-arrow_height = 4.3125

    $svgicon-hotel_width = 2.65625
    $svgicon-hotel_height = 2.65625

    $svgicon-lens_width = 0.75
    $svgicon-lens_height = 0.75

    $svgicon-mobile_width = 1.90625
    $svgicon-mobile_height = 2.96875
