include ../../node_modules_custom/bemto.jade/bemto.pug
include mixins

doctype html
html.no-js
    head
        include head
        block styles
    body
        +b.body
            block header-wrapper
                include header
            +e.content
                block content
            include footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='assets/build/global.js')
        block scripts