mixin header(extra)
    include header

mixin search-form(extra)
    +b.FORM.search-form(class=extra)
        +e.input
            input(type='text' placeholder='Поиск')
        +e.submit
            button(type="submit")

mixin arrows(extra)
    +b.owl-arrows(class=extra)
        +e.arrow_prev
        +e.arrow_next

mixin breadcrumbs
    +b.breadcrumbs
        +e.A.item(href='#') Продукция
        |
        | /
        |
        +e.A.item(href='#') Категория 1
        |
        | /
        |
        +e.A.item(href='#') Категория 2
        |
        | /
        |
        +e.A.item(href='#') Категория 3
        |
        | /
        |
        +e.A.item(href='#') Категория 4
        |
        | /
        |
        +e.A.item(href='#') Категория 5

mixin spinner
    +b.spinner(data-min='1')
        +e.input
            input(type='text', name='quantity' value='1')
        +e.buttons
            +e.button_plus
            +e.button_minus

mixin select
    +b.select
        select
            option Значение 0
            option Значение 1
            option Значение 2
            option Значение 3
            option Значение 4
        +e.arrow

mixin pagination
    +b.pagination(data-min='1' data-max='6')
        +e.main
            +e.arrow_prev
            +e.pages
                +e.input
                    input(type='text' value='1')
                | из #[span(data-id='max') 6]
            +e.arrow_next
        +e.A.more.button(href='#') Загрузить ещё