.about
	background-image url(/assets/images/about.jpg)
	.preview
		align-items flex-start
		max-width 930px
		margin-right 0
		h1 
			font-weight bold 
			font-size 90px
			margin-bottom 20px
			margin-top 0
			+below(1400px)
				font-size 75px	
			+below(1000px)
				font-size 50px 
			+below(600px)
				font-size 36px
		p
			font-weight 400
			font-size 18px
			margin-bottom 1em
			+below(1400px)
				font-size 16px
			+below(600px)
				font-size 12px
		.red-btn
			color white
			margin-top 20px
			text-transform none
			font-size 20px
			+below(600px)
				font-size 14px	

.category.top.about
	.preview
		margin-right 0
	.top__mid
		padding-top 75px
		margin-bottom 30px
		+below(1400px)			
			padding-top 50px
		+below(600px)
			padding-left 0
			padding-right 0
			