.article
	.top__bg.current
		background-image url('/assets/images/news.jpg')
		margin 10vh
		border-radius 40px 0 40px 0
		opacity .4
	.heading-p
		width 35%
		font-weight 600
		font-size 26px
		align-self flex-start
	
				

.category.top.news.article 
	background-size contain
	.top__mid
		padding-top 10px
	.top__share
		position initial
		
.article-body
	background-image url('/assets/images/pattern.jpg')
	background-size contain
	padding 150px 20%
	h2
		font-size 60px
		text-align center
	p 
		font-size 22px
		font-weight regular
		margin-bottom 1.3em
		