.description
	padding 150px 50px
	display flex
	align-items center
	text-align center
	flex-direction column
	+below(1000px)
		padding 50px
	+below(600px)
		padding-left 15px
		padding-right 15px 
	p
		width 70%
		margin-bottom 2em
		color #808080
		font-size 30px
		+below(1450px)
			font-size 24px
		+below(800px)
			font-size 18px
		+below(650px)
			width 100%
		