.description
	padding 150px 50px
	display flex
	align-items center
	text-align center
	flex-direction column
	p
		width 70%
		margin-bottom 2em
		color #808080
		font-size 30px
		+below(1450px)
			font-size 24px
		