.top
	min-height 900px
	height 100vh
	background-image url('/assets/images/first.jpg')
	background-size cover
	background-position center center
	padding 50px
	padding-top 250px
	display flex
	flex-direction column
	justify-content space-between
	position relative
	+below(1300px)
		min-height 750px
	&__bgs
		full-fill()
		background-size cover
		background-position center center
	&__bg
		full-fill()
		background-size cover
		background-position center center
		opacity 0
		transition opacity .3s ease-in-out
		&.current
			opacity 1
	&__mid
		position relative
		display flex
		align-items center
		justify-content center
	
	.social
		position absolute
		left 50px
		top 50%
		transform translateY(-50%)
		z-index 10
		&__list
			display flex
			flex-direction column
			list-style-type none
		&__item
			margin 20px 0 
		&__link
			svg
				height 20px
				width 20px
				fill white
				path 
					fill white!important
	.slider
		width 100%
		.slide
			text-transform uppercase
			font-family 'HelveticaNeue'
			font-weight 600
			padding 50px
			display flex
			align-items center
			justify-content center
			&__text 
				+below(1300px)
					width 40%
				>*
					margin-bottom 12px
					line-height 1em
			&__num
				font-size 20px 
				+below(1300px)
					font-size 16px 
			&__type
				font-size 20px 
				+below(1300px)
					font-size 16px 
			&__big-name
				font-size 110px
				+below(1300pxpx)
					font-size 80px
			&__name
				font-size 55px
				+below(1300px)
					font-size 40px
			&__description
				font-size 20px
				+below(1300px)
					font-size 16px
			&__price
				font-size 60px
				+below(1300px)
					font-size 45px
			&__btn
				&:after
					content '+'
					margin-left 30px
					font-size 1.3em
			&__pic
				margin-left 80px
				+below(1400)
					margin-left 30px
				img
					height 550px
					width auto
					+below(1300px)
						height 300px
					
		&__ctrls.owl-arrows
			position absolute
			z-index 10
			right 50px
			bottom 50px
			display flex
			flex-direction column
			+below(1400px)
				right 0
	&__bottom
		display flex
		align-items flex-end 
		justify-content space-between
		z-index 1
		position relative
		.scroll
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			display flex
			flex-direction column
			align-items center
			&__stage
				width 20px
				height 45px
				position relative
				border 1px solid white
				border-radius 10px
			&__trigger
				width 16px
				height 16px
				border-radius 8px
				border 1px solid white
				position absolute
				left 50%
				top 5%
				transform translateX(-50%)
				animation scroll 1s 5 ease-in-out
	&__share
		display flex
		align-items center
		position relative
	&__share-links
		display none
		width 170px
		&.shown
			display block
			position absolute
			top 50% 
			left 0
			transform translate(-100%, -50%)
	&__share-button
		order 1
		height 30px
		&:focus, &:hover
			outline none
			cursor pointer
			.icon-share
				color #ce1a21	
		.icon-share
			width 30px
			height 30px
			svg
				fill currentColor
			
	&__phone-link
		font-size 19px
	&__callback-link
		font-size 13px
	&__phone
		letter-spacing .2em
		

@keyframes scroll {
	0% {
		top: 3px
	}
	50%{
		top: 25px
	}
	100%{ 
		top: 3px
	}
}