.form
	&__row
		margin-bottom 1em
		a 
			text-decoration underline 
	&__input-title
		margin-bottom .1em
	input
		margin-top .3em
		border-radius 0 15px 15px 0
		border 1px solid white
		font-size 25px
		width 300px
		+below(600px)
			width auto 
	button.red-btn
		font-size 1em
		color white
		text-transform none
		font-size 14px
		font-weight 400
		padding 13px
	&__actions
		margin-top 30px

