.header
	display flex
	align-items flex-start
	padding 50px
	padding-bottom 0
	justify-content space-between
	position fixed
	width 100%
	z-index 100
	&__left
		display flex
		align-items flex-start
	&__logo
		img
			height 65px
			+below(1300px)
				height 45px
	&__menu
		justify-self start
		margin-left 80px
		+below(1400px)
			margin-left 40px
	&__menu-list
		list-style-type none
		display flex
		align-items flex-start		
	&__submenu-list
		list-style-type none
		transition all .2s ease-in-out
		opacity 0
		.header__menu-link
			padding-top 0
	&__menu-item
		margin-left 6px 
		margin-right 6px
		position relative
		text-align center
		&:before
			content ''
			position absolute
			left 0 
			right 0 
			top 0
			bottom 0
			opacity 0
			background-color black
			border-radius 15px
			transition all .2s ease-in-out
		&:hover, &:focus
			&:before
				opacity .5
			>ul
				opacity 1
	&__menu-link
		font-size 12px
		color #fff
		text-transform uppercase
		letter-spacing .2em
		position relative
		transition all .2s ease-in-out
		padding 12px 20px
		display block
		+below(1400px)
			font-size 10px
		&:hover, &:focus
			color #ce1a22
		&.active
			font-weight 700
	&__login
		font-size 12px
		color #fff
		text-transform uppercase
		letter-spacing .2em
		padding-right 20px
		border-right 1px solid white
		margin-right 30px 
		+below(1400px)
			font-size 10px
		&:hover, &:focus
			color #ce1a22
	&__ctrl
		display flex
		align-items center
	&__cart
		width 50px
		height 50px
		margin-right 30px 
		display flex
		justify-content center
		align-items center
		background-color #ce1a21
		border-radius 50%
		position relative
		transition box-shadow .2s ease-in-out
		box-shadow 0px 0px 0px 0px #ce1a22
		+below(1400px)
			width 35px
			height 35px
		&:hover, &:focus
			color currentColor
			box-shadow 0px 0px 26px 2px #ce1a22

	&__cart-price
		position absolute 
		top 165%
		transform rotate(90deg)
		width 100px
		height 30px 
		full-centered()
	&__search
		&:hover
			input 
				width 100%
		input
			width 0
			transition width .3s ease-in-out 
			border 0
		button
			cursor pointer
			.icon.icon-lens
				width 30px
				height 30px
				+below(1300px)
					width 20px
					height 20px
				path
					fill white
		form
			display flex
			align-items center
			
		
		
	
	