.category.top.news
	background-color #fff
	position relative
	.preview
		align-items center
		font-family 'Helvetica Neue'
		.title 
			font-size 70px
			font-weight 600
			margin-bottom 20px
			
			+below(600px)
				font-size 32px
		h4
			margin-bottom 50px
			+below(600px)
				font-size 20px
		.news-list
			display flex
			flex-wrap wrap
			justify-content space-between
			list-style-type none
		.news-item
			width 100%
			margin-bottom 50px
			display flex 
			align-items flex-start
			flex-direction column
			padding-top 80px
			padding-bottom 40px
			margin-bottom 40px
			border-bottom 1px solid white
			+below(900px)
				width 46%
			+below(650px)
				width 100%
			.image
				overflow hidden
				border-radius 20px 0 20px 0
				width 100%
				full-centered()
				img
					height auto
					width auto
					max-width 100% 
					max-height 100%	
			.title
				font-size 30px
				margin-top 20px
				font-family Muller, sans-serif
			&__description
				font-family Muller, sans-serif
				
			
	.top__share
		position absolute
		top 50vh
		right 50px 
	.breadcrumbs
		color #808080
		font-size 14px 
		align-self flex-start
		margin-bottom 50px
		&__list
			list-style-type none
		&__item:not(:last-child)
			&:after
				content '>'