.owl-arrows
    display flex
    align-items center
    color #161717
    .icon.arrow-left
        arrow(2px, white, 15px, 30px, left)
    &__prev, &__next
        cursor pointer
        padding 15px
        &.disabled
            .icon
                opacity 0.2
                cursor default
    &__next
        transform rotateY(180deg)
                