.red-btn
	font-family 'HelveticaNeue'
	font-weight 600
	background-color #ce1a22
	box-shadow 0px 0px 26px 2px #ce1a22
	padding 20px 30px
	border-radius 20px 0 20px 0
	display inline-block
	text-transform uppercase
	transition all .2s ease-in-out
	cursor pointer
	color white
	+below(800px)
		box-shadow 0px 0px 5px 2px #ce1a22
	&:hover, &:focus
		transform translateY(-2px)
		box-shadow 0px 0px 26px 6px #ce1a22;
		color white
		+below(800px)
			box-shadow 0px 0px 6px 2px #ce1a22