.catalog
	display flex
	align-items center
	flex-direction column
	padding 50px
	padding-top 185px 
	padding-bottom 160px
	background-color #1f1c1d
	background-image url('/assets/images/pattern.jpg')
	background-size contain
	background-repeat repeat-y
	overflow hidden
	position relative
	&:before, &:after
		content ''
		position absolute
		width 1800px
		height 1100px 
		background radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%)
		z-index 0
		top 0
	&:before
		left 0
		transform translate(-50%, -50%)
	&:after
		right 0
		transform translate(50%, -50%)
	&__table
		position relative
		z-index 1
	.item
		display flex
		justify-content center
		padding-top 60px
		border-bottom 1px solid #808080
		&:nth-child(even)
			position relative
			&:before
				content ''
				position absolute
				top 0
				bottom 0
				left -2000px
				right -2000px
				background-color rgba(0,0,0,.4)
				z-index -1
				
		&__pic
			height 255px
			img
				height auto
				width auto
				max-width 100% 
				max-height 100%
			+below(1400px)
				height 210px
		&__info
			display flex
			flex-direction column
		&__name
			font-size 22px
			color #ce1a22
			text-transform uppercase	
		&__price 
			font-size 55px
			+below(1400px)
				font-size 40px
		&__description
			font-size 14px
			width 575px
			padding-right 35px
			color #808080
			+below(1400px)
				width 400px
		&__count
			display flex
			align-items center
			width 260px
			justify-content center
			border-left 1px solid #808080
			border-right 1px solid #808080
		&__count-pic
			margin-right 20px 
			.icon
				height 50px
				width 50px
		&__page
			width 155px 
			display flex
			align-items center
			justify-content center
		&__more
			min-height 105px
			display flex	
			align-items stretch
			border-top 1px solid #808080
			>*
				padding-top 24px
				padding-bottom 24px
				
		&__buy
			display flex
			justify-content space-between
			padding-top 30px
			padding-bottom 30px
			.red-btn
				padding-top 12px
				padding-bottom 12px 
				&:after
					content '+'
					margin-left 30px
					font-size 1.3em
	&__text
		max-width 1000px
		font-size 17px 
		font-family 'HelveticaNeue'
		margin-top 50px